td {
  width: 50px;
  height: 50px;
  background-color: grey;
  cursor: pointer;
}
  
.blue {
  background-color: blue;
}
  
.green {
  background-color: green;
}
  
.red {
  background-color: red;
}
